/* add normalize.css file */
@import "normalize.css";

:root {
    --bckground-color: rgb(34,50,61);
    --background-header-color: rgba(8,28,36, 1);
}

body {
    background: var(--bckground-color); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background: var(--background-header-color);
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
}

li {
    list-style-type: none;
    overflow: hidden;
}

li img {
    float: left;
    clear: both;
    padding: 3px;
}

section {
    width: 50%;
    margin: auto;
    padding-top: 70px;
}

.header--logo {
    height: 40px;
    padding: 6px 0
}

.header__logo--center {
    margin: 0 auto;
}

.page__title--color {
    color: rgba(245, 245, 220, 1);
}

.element--center {
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

